 pandas
 openai
 python-dotenv
 langchain
 langchain-openai
 langchain_community
 langgraph
 httpx
 faiss-cpu
 redis
 uvicorn 
 fastapi
 python-multipart
 langchain-chroma
 chromadb
 pytz
 boto3
 ultralytics
 easyocr
