.page-title{
    font-size: 30px;
}

.number-display{
    width: 100px;        /* 적절한 너비 */
    height: 50px;        /* 값이 없어도 유지될 높이 */
    min-height: 50px;    /* 최소 높이 고정 */
    border-bottom: solid black 1px;
    margin-bottom: 20px;
    display: flex;      
    justify-content: center;
    align-items: end;
    font-size: 24px;
}